<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     @font-face { font-family: "Arial"; src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");
                }
     body{
      font-family: Arial;
    }
    <title>К договору об уступке права требования (цессии)</title>
</head>
<body>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">К договору об уступке права требования (цессии) - assignment _add</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">Дополнительное соглашение</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">К договору об уступке права требования (цессии) 26.07.2021 г.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">г. Красноярск 26.07.2021 г.</p>
<p style="text-align: justify;text-indent: 0.5cm;margin-bottom: 0cm;line-height: 100%;">1. <strong>ООО &laquo;ФОРТУНА&raquo;</strong> (адрес местонахождения: 660098, Красноярский край, г. Красноярск, ул. Молокова, д. 12, кв. 161, ОГРН: 1212400003793, ИНН/КПП: 2465337642/246501001), именуемое в дальнейшем &ndash; ЦЕССИОНАРИЙ, с одной стороны</p>
<p style="text-align: justify;text-indent: 0.5cm;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><u>и</u> <strong>Мишанин Денис Александрович</strong> 14 апреля 1979 года рождения, паспорт РФ: серия 04 04 № 225109, выдан 1 ГОМ УВД Советского района гор. Красноярск, 22.08.2003 г., код подразделения 243-001, зарегистрирован по адресу: Красноярский край, г. Красноярск, пр-кт 60 лет образования СССР, д. 26 &laquo;б&raquo;, кв.36., именуемый в дальнейшем ЦЕДЕНТ, с одной другой стороны, договорились о нижеследующем:</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1.64cm;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<ol>
    <ol>
        <li>
            <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">За уступаемое право Цедент получает вознаграждение в виде страхового возмещения взысканного (выплаченного) в пользу Цессионария для восстановления транспортного средства с учетом износа, денежные средства, взысканные в пользу Цессионария решением суда сверх суммы необходимой для восстановления транспортного средства с учетом износа, рассчитанного в соответствии с требованиями Единой методики определения размера расходов на восстановительный ремонт, утвержденный Банком России 19.09.2014 года в размере 50 %, а именно 50 % от разницы между определённой судом ко взысканию в пользу Цессионария стоимости восстановительного ремонта с учетом износа и без учета износа, а так же 50 % от взысканных штрафных санкций с финансовой организации.</p>
        </li>
    </ol>
</ol>
<p style="text-align: justify;margin-left: 1.96cm;margin-bottom: 0cm;line-height: 100%;"><br></p>
<ol>
    <ol start="2">
        <li>
            <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Цессионарий получает все суммы, взысканные с финансовой организации по решению суда, за исключением сумм, являющихся вознаграждением Цедента установленных п.1.1 данного соглашения к договору уступки права требования (Цессии).</p>
        </li>
    </ol>
</ol>
<p style="text-align: justify;margin-left: 1.96cm;margin-bottom: 0cm;line-height: 100%;"><br></p>
<ol>
    <ol start="3">
        <li>
            <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Цессионарий обязуется передать вознаграждение Цеденту в течение пяти рабочих дней со дня получения денежных средств от страховщика.</p>
        </li>
    </ol>
</ol>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Стороны ни моральных, ни финансовых претензий друг другу не имеют.</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">Настоящее дополнительное соглашение является неотъемлемой частью Договора уступки права требования (цессии) составлено на 1 листе, в 2 экземплярах по каждому для каждой из Сторон.</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<div dir="ltr" id="TextSection">
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Цедент: Мишанин Денис Александровича</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">паспорт гражданина РФ: серия 04 04 № 225109, выдан 1 ГОМ УВД Советского района гор. Красноярск, 22.08.2003 г., код подразделения 243-001, зарегистрирован по адресу: Красноярский край, г. Красноярск, пр-кт 60 лет образования СССР, д. 26 &laquo;б&raquo;, кв.36.</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Цессионарий: ООО &laquo;ФОРТУНА&raquo;</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">адрес местонахождения: 660098, Красноярский край,</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">г. Красноярск, ул. Молокова, д. 12 кв. 161</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">ОГРН: 1212400003793</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">ИНН/КПП: 2465337642/246501001</p>
    <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
    <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
</div>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">__________________________( Мишанин Д.А.) _______________( Директор Шавров А.А.)</p>
</body>
</html>
