<html>
<head>
    <meta charset="utf-8">
    <title> Договор юр услуг первичный</title>
    <style type="text/css">

         @font-face { font-family: "Arial"; src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");
                }
     body{
      font-family: Arial;
    }
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
            width: 1200px; /* Ширина таблицы */
        }

        TH, TD {
            border: 1px solid black; /* Параметры рамки */
            text-align: center; /* Выравнивание по центру */
            padding: 4px; /* Поля вокруг текста */
        }

        TH {
            background: #a3a3a7; /* Цвет фона ячейки */
            height: 20px; /* Высота ячеек */
            vertical-align: bottom; /* Выравнивание по нижнему краю */
            padding: 0; /* Убираем поля вокруг текста */
        }
    </style>
</head>
<body>
{% block content %}

<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">ДОГОВОР ЮР УСЛУГ Первичный contact_one</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">оказания юридических услуг</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">г. Красноярск 16.08.2021 г.</p>
<p style="line-height: 115%;text-align: justify;text-indent: 1cm;margin-bottom: 0.35cm;">Индивидуальный предприниматель Чех Дарья Андреевна, именуемая в дальнейшем &laquo;Исполнитель&raquo;, с одной стороны,</p>
<p style="line-height: 115%;text-align: justify;text-indent: 1cm;margin-bottom: 0.35cm;">и Почепнёв Игорь Николаевич, именуемая в дальнейшем &laquo;Заказчик&raquo;, с другой стороны, заключили настоящий договор о нижеследующем:</p>
<ol>
    <li>
        <p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">Предмет договора.</p>
    </li>
</ol>
<p style="margin-bottom: 0.35cm;line-height: 115%;text-align: left;margin-left: 2.91cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">1.1. По данному договору Исполнитель обязуется оказать Заказчику юридические услуги согласно п. 1.2. Договора, а Заказчик принять их и оплатить в порядке и на условиях, предусмотренных настоящим договором.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">1.2. В рамках настоящего договора Исполнитель обязуется:</p>
<ul>
    <li>
        <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">изготовить и подать заявление о наступлении страхового случая/прямом возмещении убытков в АО &laquo;Альфастрахование&raquo;, по факту ДТП, произошедшего 12.08.2021 г., страховой полис ХХХ № 0179709926;</p>
    </li>
</ul>
<p style="line-height: 115%;text-align: justify;margin-left: 2.27cm;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<ol start="2">
    <li>
        <p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">Права и обязанности Исполнителя.</p>
        <ol>
            <li>
                <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">Исполнитель обязан:</p>
            </li>
        </ol>
    </li>
</ol>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.1.1. Изучить обстоятельства дорожно-транспортного происшествия, определить в какую страховую компанию заказчику необходимо подать документы о наступлении страхового случая, проинформировать заказчика о перечне документов необходимых для сдачи заявления страховщику. Подготовить и подать заявление о наступлении страхового случая/прямом возмещении убытков.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.1.2. Предупреждать Заказчика о возможных результатах осуществления данного поручения на все стадиях его выполнения и информировать Заказчика об общем состоянии поручения по первому его требованию.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.1.3. Осуществить данное поручение в полном объеме согласно данному договору.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.1.4. Гарантировать сохранность документов, представленных Заказчиком.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.1.5. Исполнитель обязан сохранять в тайне любые сведения, связанные с деятельностью Заказчика, ставшие ему известными при осуществлении им своим полномочий.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">2.2. Исполнитель имеет право:</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">2.2.1. Требовать от Заказчика предоставления документов по данному поручению, необходимых для его разрешения.</p>
<p style="line-height: 115%;text-align: center;margin-left: 1cm;margin-bottom: 0.35cm;">3. Права и обязанности Заказчика.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">3.1. Заказчик обязан:</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">3.1.1. Предоставить Исполнителю документы, необходимые для выполнения данного поручения. Документы должны быть достоверными, законными и подлинными. Своевременно уведомлять и информировать Исполнителя о любых обстоятельствах, касающихся данного поручения, которые стали известны Заказчику.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">3.1.2. Осуществить оплату согласно п.п. 4.1. настоящего договора в полном объеме.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">3.2. Заказчик имеет право:</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1cm;margin-bottom: 0.35cm;">3.2.1. Требовать от исполнителя предоставления информации о возможных результатах осуществления данного поручения и общем состоянии поручения на любой стадии его выполнения.</p>
<p style="line-height: 115%;text-align: center;margin-left: 1cm;margin-bottom: 0.35cm;">4. Порядок оплаты поручения.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">4.1. Размер вознаграждения по данному договору составляет:</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">- Изготовление и подача заявления в АО &laquo;Альфастрахование&raquo; &ndash; 2 000 рублей;</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1.27cm;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: center;margin-left: 1.27cm;margin-bottom: 0.35cm;">5. Ответственность сторон.</p>
<p style="line-height: 115%;text-align: justify;margin-left: 1.27cm;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">5.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по договору при возникновении непреодолимых препятствий, под которыми понимаются стихийные бедствия, массовые беспорядки, запретительные действия властей и иные форс-мажорные обстоятельства.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">6. Заключительные положения.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">6.1. Стороны обязуются все возникшие разногласия решать путем переговоров. При неурегулировании сторонами возникших разногласий спор разрешается в судебном порядке в соответствии с правилами о подсудности, предусмотренными законодательством РФ.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">6.2. Настоящий договор вступает в силу с момента его подписания сторонами и действует до полного исполнения обязательств по оказанию услуг, предусмотренных в п. 1 Договора. Договор может быть расторгнут каждой из сторон досрочно предупреждением другой стороны за один месяц в письменном виде.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">6.3. Договор имеет силу акта выполненных работ.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">6.4. Настоящий договор составлен в трех экземплярах.</p>
<div dir="ltr" id="TextSection">
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Исполнитель:</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Индивидуальный предприниматель</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Чех Дарья Андреевна</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Адрес местонахождения: 660100, Красноярский край, г. Красноярск, ул.Кравченко, д.6, пом.138</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">ОГРНИП: 321246800034779</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">ИНН: 246006524002</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Тел. 209-89-09</p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
    <p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Чех Д.А.________________________________</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Заказчик: Почепнёв Игорь Николаевич</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">паспорт: серия 25 11 № 569565, выдан Отделением УФМС России по Иркутской области в гор. Тайшете и Тайшетском р-не, дата выдачи 16.11.2011 г., код подразделение 380-027, зарегистрирован по адресу: Россия, Красноярский край, Емельяновский р-н, Солонцовский с/с, п. Малые Никитки, ул. Тенистая, д.10</p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
    <p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">______________________ Почепнёв И.Н.</p>
</div>
<p style="margin-bottom: 0.35cm;line-height: 115%;text-align: left;"><br>&nbsp;</p>

<p align="left">{{ user }} {% now "d-m-Y" as today_str %}{{ today_str }}</p>
 {% endblock content %}
</body>
</html>

