<html lang="RU-ru">
<head>
  <meta charset="UTF-8">
  <title>Договор юр услуг основной</title>
  <style type="text/css">
    {#Заменить  полный путь  на относительный к шрифту  #}
    @font-face {
      font-family: "Arial";
        {#""""Путь до шрифта в МакОС"""#}
      {#src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");#}
        src: url("/home/mkdw/PycharmProjects/crm1/klgroup21/klgroup21/static/fonts/arial.ttf");
    }

    TABLE {
      border-collapse: collapse; /* Убираем двойные линии между ячейками */
      width: 1200px; /* Ширина таблицы */
      font-family: "Times New Roman";
    }

    body {
      font-family: Arial;
    }

    TH, TD {
      border: 1px solid black; /* Параметры рамки */
      text-align: center; /* Выравнивание по центру */
      padding: 4px; /* Поля вокруг текста */
    }

    TH {
      font-family: Arial;
      background: #a3a3a7; /* Цвет фона ячейки */
      height: 20px; /* Высота ячеек */
      vertical-align: bottom; /* Выравнивание по нижнему краю */
      padding: 0; /* Убираем поля вокруг текста */
    }


  </style>

</head>
<body>
{% block content %}

  <div> <p align="center"> {{ document.name }}&nbsp;№ {{ document.id }}</p>




  <p align="center"> г. Красноярск&nbsp;
    {% now "d-m-Y" as today_str %}{{ today_str }}г.</p>

  <p> &nbsp;{{ document.executor.full_name }}, именуемое в дальнейшем &laquo;Исполнитель&raquo;, с
    одной стороны,</p>
  <p> &nbsp;и &nbsp; {{ client.name }}&nbsp;{{ client.surname }}&nbsp;{{ client.midlename }}ч, именуемый в дальнейшем
    &laquo;Заказчик&raquo;, с другой стороны, заключили
    настоящий договор о нижеследующем:</p>
  {% for name in body_doc %}


    <p align="center" style="margin-left:82.35pt;">

      {#Функция context  #}
      {{ body_doc.0.name }}

      # {{ body_doc.0.text }}
    <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">1.1 По данному договору Исполнитель
      обязуется оказать Заказчику юридические услуги согласно п. 1.2. Договора, а Заказчик принять их и оплатить в
      порядке и на условиях, предусмотренных настоящим договором.</p>
    <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">1.2. В рамках настоящего договора
      Исполнитель обязуется:</p>
    <ul>
      <li>
        <p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">Изготовить и направить услугами
          почтовой связи информационное письмо о дате и времени проведения повторной независимой технической
          экспертизы об определении стоимости материального ущерба автомобиля <span
              style="background: #ffffff;">Audi</span><span style="background: #ffffff;">A</span><span
              style="background: #ffffff;">8</span> г/н С 428 АТ/124в страховую компанию СПАО &laquo;Ингосстрах<span
              style="background: #ffffff;">&raquo;</span>, а так же виновнику дорожно-транспортного
          происшествия, по страховому случаю от 27.03.2021 г.;</p>
      </li>
    </ul>


    </p>
  {% endfor %}
  <p style="margin-left:82.35pt;"> &nbsp;</p>
  <p></p>
  <p style="margin-left:64.35pt;"> &nbsp;</p>
  <p align="center" style="margin-left:82.35pt;"> 2.Права
    и обязанности Исполнителя.</p>
  <p> 2.1.&nbsp;Исполнитель
    обязан:</p>
  <p> 2.1.1.Изготовить и направить
    услугами почтовой связи информационное письмо о дате и времени проведения повторной независимой технической
    экспертизы об определении стоимости материального ущерба автомобиля&nbsp;Audi A8г/н&nbsp;&nbsp;С 428 АТ/124в
    страховую компанию СПАО &laquo;Ингосстрах&raquo;, а так же виновнику дорожно-транспортного происшествия, по
    страховому случаю от&nbsp;27.03.2021 г.;</p>
  <p> 2.1.2.&nbsp;В стоимость услуг
    исполнителя включены расходы по оплате услуг почтовой связи: покупка конвертов, марок, оплата услуг почтового
    оператора.&nbsp;</p>
  <p> 2.1.3. Предупреждать Заказчика о возможных результатах осуществления данного поручения на все стадиях его
    выполнения и информировать Заказчика об общем состоянии поручения по первому его требованию.</p>
  <p> 2.1.4. Осуществить данное поручение в полном объеме согласно данному договору.</p>
  <p> 2.1.5. Гарантировать сохранность документов, представленных Заказчиком.</p>
  <p> 2.1.6. Исполнитель обязан сохранять в тайне любые сведения связанные с деятельностью Заказчика, ставшие ему
    известными при осуществлении им своим полномочий.</p>
  <p> 2.2. Исполнитель имеет право:</p>
  <p> 2.2.1. Требовать от Заказчика предоставления документов по данному поручению, необходимых для его
    разрешения.</p>
  <p> 3. Права и обязанности Заказчика.</p>
  <p> 3.1. Заказчик обязан:</p>
  <p> 3.1.1. Предоставить Исполнителю документы, необходимые для выполнения данного поручения. Документы должны быть
    достоверными, законными и подлинными. Своевременно уведомлять и информировать Исполнителя о любых
    обстоятельствах, касающихся данного поручения, которые стали известны Заказчику.</p>
  <p> 3.1.2. Осуществить оплату согласно п.п. 4.1. настоящего договора в полном объеме.</p>
  <p> 3.2.&nbsp;Заказчик имеет право:</p>
  <p> 3.2.1. Требовать от исполнителя предоставления информации о возможных результатах осуществления данного
    поручения и общем состоянии поручения на любой стадии его выполнения.</p>
  <p> 4. Порядок оплаты поручения.</p>
  <p> 4.1. Размер вознаграждения по данному договору составляет:&nbsp;&nbsp;800 рублей (восемьсот рублей).&nbsp;</p>
  <p> &nbsp;Изготовить
    и направить услугами почтовой связи информационное письмо (стоимость услуги почтовой связи не входит в размер
    вознаграждения по данному договору) о дате и времени проведения повторной независимой технической экспертизы об
    определении стоимости материального ущерба автомобиля&nbsp;Audi A8г/н&nbsp;&nbsp;С 428 АТ/124в страховую
    компанию СПАО &laquo;Ингосстрах&raquo;, а так же виновнику дорожно-транспортного происшествия, по страховому
    случаю от&nbsp;27.03.2021г. &ndash; 800&nbsp;&nbsp;рублей;</p>

  <p> 5. Ответственность сторон.</p>

  <p> 5.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по
    договору при возникновении непреодолимых препятствий, под которыми понимаются стихийные бедствия, массовые
    беспорядки, запретительные действия властей и иные форс-мажорные обстоятельства.</p>

  <p> 6. Заключительные положения.</p>

  <p> 6.1. Стороны обязуются все возникшие разногласия решать путем переговоров. При не урегулировании сторонами
    возникших разногласий спор разрешается в судебном порядке в соответствии с правилами о подсудности,
    предусмотренными законодательством РФ.</p>

  <p> 6.2. Настоящий договор вступает в силу с момента его подписания сторонами и действует до полного исполнения
    обязательств по оказанию услуг, предусмотренных в п. 1 Договора. Договор может быть расторгнут каждой из сторон
    досрочно предупреждением другой стороны за один месяц в письменном виде.</p>

  <p> 6.3. Договор имеет силу акта выполненных работ.</p>

  <p> 6.4. Настоящий договор составлен в трех экземплярах.</p>
  <table>
    <tr>
      <th>Исполнитель:</th>
      <th>Заказчик:</th>
    </tr>
    <tr>
      <td><p> {{ document.executor.full_name }}</p>
        <p> Адрес местонахождения: {{ document.executor.company_adress }}</p>
        <p> ОГРНИП: {{ document.executor.nalog_main }}</p>
        <p> ИНН: {{ document.executor.nalog_number }}</p>
        <p> Тел.{{ document.executor.number_phone }}</p>

        <p> {{ document.executor.director_name }}________________________________</p>
      </td>
      <td><p> {{ client.name }}&nbsp;{{ client.surname }}&nbsp;{{ client.midlename }}</p>


        <p> паспорт РФ: серия &nbsp;{{ client.serial_pass }}&nbsp; № {{ client.number_pass }}</p>
        <p>{{ client.enter_org }}, дата выдачи&nbsp; {{ client.data_create }}&nbsp; г.,</p>
        код подразделения 240-033, зарегистрирован по адресу: &nbsp;{{ client.adress_reg }} </p>
        <p> &nbsp;</p>
        <p> {{ client.name }}&nbsp;{{ client.surname }}&nbsp;{{ client.midlename }}____________________________________</p>
      </td>
    </tr>
  </table>
{% endblock content %}
</div>

<p align="left">{{ user }} {% now "d-m-Y" as today_str %}{{ today_str }}</p>
</body>
</html>
