<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     @font-face { font-family: "Arial"; src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");
                }
     body{
      font-family: Arial;
    }
    <title>Договор юр услуг первичный доп соглашение contact one add</title>
</head>
<body>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">Договор юр услуг первичный доп соглашение contact one add</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">Дополнительное соглашение</p>
<p style="line-height: 115%;text-align: center;margin-bottom: 0.35cm;">К договору оказания юридических услуг от 16.08.2021 г.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">г. Красноярск 16.08.2021 г.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">Индивидуальный предприниматель Чех Дарья Андреевна, именуемое в дальнейшем &laquo;Исполнитель&raquo;, с одной стороны,</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">и Почепнёв Игорь Николаевич, именуемая в дальнейшем &laquo;Заказчик&raquo;, с другой стороны, заключили настоящее соглашение о нижеследующем:</p>
<p style="line-height: 115%;text-align: justify;text-indent: 1cm;margin-bottom: 0.35cm;">1. Дополнить договор п. 3.1.3.:</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;">3.1.3. В случае если страховщик по результатам рассмотрения заявления о наступлении
    страхового случая/прямого возмещения убытков
    примет решение о выплате страхового возмещения путем организации и оплаты стоимости
    восстановительного ремонта на станции СТОА,
    Заказчик обязуется получить вышеуказанное направление на ремонт.
    Выдача страховщиком направления на ремонт осуществляется нарочно,
    либо услугами почтовой связи путем направления заказной корреспонденцией
    по месту жительства указанному заказчиком в заявлении.</p>
<p style="line-height: 115%;text-align: justify;margin-bottom: 0.35cm;"><br>&nbsp;</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Исполнитель:</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Индивидуальный предприниматель Чех Дарья Андреевна</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Адрес местонахождения:</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">660100, Красноярский край, г.Красноярск, ул.Кравченко, д.6, пом.138</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">ОГРНИП: 321246800034779</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">ИНН: 246006524002</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Тел. 209-89-09</p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;"><br></p>
<p style="text-align: justify;margin-bottom: 0cm;line-height: 100%;">Чех Д.А________________________________</p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">Заказчик: Почепнёв Игорь Николаевич</p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">паспорт: серия 25 11 № 569565, выдан Отделением УФМС России по Иркутской области в гор. Тайшете и Тайшетском р-не, дата выдачи 16.11.2011 г., код подразделение 380-027, зарегистрирован по адресу: Россия, Красноярский край, Емельяновский р-н, Солонцовский с/с, п. Малые Никитки, ул. Тенистая, д.10</p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;"><br></p>
<p style="margin-bottom: 0cm;line-height: 100%;text-align: left;">______________________ Почепнёв И.Н.</p>
</body>
</html>
