<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>Заявление о прямом возмещении убытков по договору обязательного страхования</title>
    <style>
             @font-face { font-family: "Arial"; src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");
                }

{#        <link rel="stylesheet" media="screen" href = "../css/main.css" >#}
{#        <link rel="stylesheet" media="print" href = "../css/print.css ">#}
    @media print {
        body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
        /* change the margins as you want them to be. */
              }
                    }
   .company { text-align: right; }

    </style>
</head>
<body>

            <div class="company">
                <p><span>АО &laquo;ГСК &laquo;Югория&raquo;</span></p>
                <p><span>&nbsp;г. Красноярск, ул. Михаила Годенко, д. 7, каб. 7, 660100</span></p>
                <p><span>от &nbsp;Четверухиной Елены Владимировны,</span></p>
                <p ><span>проживающая по адресу:&nbsp;</span><span>&nbsp;Красноярский край, Богучанский р-он,
                пос. Таежный, ул. Буденного, д.12, кв. 1<span>,&nbsp;</span>
                 <span>663467</span></span></p>
                <p>тел.: 8 (950) 984-65-48</p>
            </div>
<p style="margin-top: auto;">Заявление о прямом возмещении убытков по договору обязательного
    страхования гражданской ответственности владельцев транспортных средств&nbsp;</p>
    <p >27.08.2021 г. в 18 час 00 минутпо адресу: г. Красноярск ул. Отдыха 10, между транспортным
        средством&nbsp Kia<  Rio  г/н С 251 ОР 124под управлением Мартынова А.С. (собственник транспортного
        средства Гинтер А.В.) и автомобилем&nbsp;Noah
        г/н Т 469 УО 24 под управлением Скляренко В.В. (собственник транспортного средства Четверухина Е.В.)
        произошло дорожно-транспортное  происшествие.</p>
         Информация о потерпевшем (заявителе): Четверухина Елена Владимировна, дата рождения 19.06.1973 г.,
        место рождения: г. Томск Томская область, &nbsp;зарегистрирована по адресу &ndash;
        :&nbsp;Красноярский край, Богучанский р-он, пос. Таежный, ул. Буденного, д.12, кв. 1
        проживает по адресу &ndash; :&nbsp;</span>Красноярский край, Богучанский р-он, пос. Таежный,
        ул. Буденного, д.12, кв. 1</p>
        <span>Паспорт: серия&nbsp;0418 № 251644, выдан ГУ МВД России по
        Красноярскому краю, дата выдачи 18.07.2018 г., код подразделение 240-022
        <span>.</span></span></p>
    <span>Сведения о поврежденном транспортном средстве:</span></p>
    <span>Toyota</span><span>&nbsp;</span><span>Life</span><span>&nbsp;
</span><span>Ace</span><span>&nbsp;</span><span>Noah</span><span>&nbsp;</span>
<span>&ndash; легковой автомобиль (ТС категории В), идентификационный номер
    транспортного средства отсутствует, год изготовления 2001, свидетельство
    транспортного средства 24 СН № 033341 дата выдачи 21.06.2008 г.,
    государственный регистрационный знак &nbsp;Т 469 УО 24.</span>
</p>
<p>
    <span>&nbsp;Прошу организовать осмотр принадлежащего мне на праве собственности транспортного средства&nbsp;
    </span><span>Toyota</span><span></span><span>Life</span><span>&nbsp;</span>
    <span>Ace</span><span>&nbsp;</span><span>Noah</span><span>&nbsp;г/н Т 469 УО 24,
    поврежденного в результате ДТП от 27.08.2021 года в течение 5 календарных дней с момента получения
    данного заявлении. О времени и месте осмотра прошу уведомить меня в телефонном режиме по
    телефону - 8 (950) 984-65-48, или заблаговременно по адресу моего проживания (</span><span>Красноярский край,
    Богучанский р-он, пос. Таежный, ул. Буденного, д.12, кв. 1<span></span><span>).</span></span></p>
<p >&nbsp;</p>

    <span>Приложение:</span></p>
<p>- оригинал извещения о ДТП</span>
</p>
<p>- заверенная надлежащим образом копия договор об оказании услуг аварийного комиссара</span>
</p>
<p>
    <span>- заверенная надлежащим образом копия чека за услуги аварийного комиссара</span>
</p>
<p>
    <span>- заверенная надлежащим образом копия паспорта заявителя</span>
</p>
<p>
    <span>- заверенная надлежащим образом копия свидетельства о регистрации ТС</span>
</p>
<p>
    <span>- заверенная надлежащим образом копия водительского удостоверения Скляренко В.В.</span>
</p>
<p >
    <span >- заверенная надлежащим образом копия страхового полиса</span>
</p>
<p >
    <span>- заверенная надлежащим образом копия банковских реквизитов</span>
</p>
<p >
    <span>&nbsp; &nbsp; &nbsp;- заверенная надлежащим образом копия договора об оказании юридических услуг, заверенная надлежащим образом копия чека</span>
</p>
<p>
    <span>&nbsp;</span></p>
<p >
    <span></span></p>
<p>
    <span >&nbsp;</span></p>





</body>
</html>