<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>Доверенность  от ООО "КЛГРУП"</title>
    <style>
        @font-face{ font-family: "Arial"; src: url("/Users/maksim/PycharmProjects/klgroup21/static/fonts/arial.ttf");
                }

    @media print {
        body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
        }
    }
    .company { text-align: right; }






    </style>
</head>
<body>
    <div class="company">
        <p>Юридическая компания "KLGroup" <br>
        ООО "КЛГРУП"<br>
        ОГРН 1192468017906<br>
        ИНН 2463117747<br>
        г.Красноярск ул.Кравченко 6 оф 121<br>
        тел:+7 (391)209-89-09, <br>
        т.(391)214-10-13
    </div>

<br>&nbsp;<br><br>
    &nbsp;19.08.2021 г. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;г. Красноярск<br>&nbsp;<br>&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ДОВЕРЕННОСТЬ<br>&nbsp;<br>&nbsp; &nbsp;
    &nbsp;Общество с ограниченной ответственностью &laquo;КЛГРУП&raquo; ОГРН: 1192468017906 ;
    &nbsp;ИНН: 2463117747; в лице директора Чех Дарьи Андреевны, действующей на основании Устава,
    <br>&nbsp;<br>&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ДОВЕРЯЕТ &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>&nbsp;<br>&nbsp; &nbsp;
    &nbsp;На основании доверенности &nbsp;24 А А &nbsp; 3968921 от 24.07.2020 г. доверяет &nbsp;
    гражданке РФ Косоговой Ирине Михайловне, штатному юристу ООО &laquo;КЛГРУП&raquo;
    , 25.06.1999 года рождения (паспорт РФ 04 19 № 365308, выдан 18.07.2019 г. &nbsp;
    ГУ МВД России по Красноярскому краю, код подразделения 240-007), проживающая по адресу:
    Красноярский край, г. Красноярск, ул. Новая, д. 26, ком. 317 представлять интересы
    Остроглядовой Ольги Станиславовны от имени ООО &laquo;КЛГРУП&raquo; &nbsp;в мировых,
    районных, краевых, арбитражных, третейских и иных судах Российской Федерации со всеми
    правами, предусмотренными для участников судебного процесса статьей 35 ГПК РФ и статьей
    41 АПК РФ, в связи с чем предоставляет специальные &nbsp; права: подписи всех документов,
    необходимых для качественного исполнения настоящего поручения, в том числе ходатайств, отзывов,
    мировых соглашений; подачи и получения справок, уточнений исковых требования, копий, почтовых писем,
    документов, которые могут потребоваться в ходе судебного разбирательства, давать и подписывать
    отзывы по иску, предъявленные другими лицами, знакомиться с материалами дела, делать из них выписки,
    признать или отказаться полностью или частично от исковых требований, уменьшать или увеличивать
    размер исковых требований.<br>&nbsp;<br>&nbsp;Доверенность выдана без права передоверия
    сроком до 24.07.2023 года.<br>&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; / И.М. Косогова &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; <br>&nbsp;<br>&nbsp;Подпись И.М. Косоговой удостоверяю. &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; Директор ООО &laquo;КЛГРУП&raquo;<br>&nbsp;Директор ООО &laquo;КЛГРУП&raquo;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; Чех Д. А. <br>&nbsp;</span></p>
</body>
</html>